<html>
<h1>Profiles</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<%= @profile.name%>
<%= @profile.birthday%>
<%= @profile.sex%>
<%= @profile.town%>
<%= @profile.marry%>
<%= @profile.biography%>
<%= @profile.homepage%>
<%= @profile.special_erea%>

</html>
